/*boilerplate
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

---------------------------------styles--------------------------------*/

body
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/*--------------------------------header--------------------------------*/

#header
{
    height: 95vh;
    background: url(background.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.user-box
{
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    position: absolute;
    text-align: center;
}
.user-box img
{
    width: 150px;
}
.user-box h1
{
    color: #bc002f;
    font-weight: bold;
    /*margin: 10px;*/
}
.user-box p
{
    color: #bc002f;
}

.scroll-btn
{
    bottom: 100px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid #bc002f;
    padding: 10px 10px 20px;
    border-radius: 30px;
}

.scroll-bar span
{
    border: 3px solid #bc002f;
    font-size: 10px;
    border-radius: 30px;
}

.scroll-bar
{
    animation: mover 1s infinite alternate;
}

@keyframes mover 
{
    0%{transform: translateY(0);}
    100%{transform: translateY(10px);}
}

/*--------------------------------navbar--------------------------------*/

.nav
{
    top: 0;
    position: sticky;
    z-index: 2;
    width: 100%;
    float: center;  
}

.navbar{
    /* background-color: black; */
    padding-top: 5vh !important;
    width: 100%;
    float: center;  
}

.nav-item img
{
    height: 30px;
    float: left;
}
.container-fluid{

    width: 100%;
    align-items: flex-end;
}

/*--------------------------------about--------------------------------*/

.about
{
    padding-top: 100px;
    padding-bottom: 50px;
}

.group-img
{
    width: 85%;
}

.document-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    bottom:  calc(-100% + 25px);
    width: 100%;
    z-index: 99;
    height: 50px;
}

.document-button {
    /* floating button on bottom right */
    
    
    border-radius: 6px;
    height: 100%;
    width: calc(100% / 5 - 10px);
    background-color: #bc002f;
    /* center text */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    /* reset link style */
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    transition: all 0.2s ease-in-out;

}

.document-button:hover {
    background-color: #cc0234;
    transform: scale(1.1);
}

.about-us {
    font-size: 2rem;
    margin: 5px;
}
